<div float="right">
    <h2 class="appTitle indexHeader">Calendar</h2>
    <br />
    <br />
    <div>
        <label class="form-label-style" for="userId" style="">Users:  </label>
        @Html.DropDownList("UsersList")
    </div>
</div>
<br />
<br>
<div float="left">
        <div class="row" style="display:inline-block;">
            <div class="column" id="month0"></div>
            <div class="column" id="month1"></div>
            <div class="column" id="month2"></div>
        </div>
        <div class="row" style="display:inline-block;">
            <div class="column" id="month3"></div>
            <div class="column" id="month4"></div>
            <div class="column" id="month5"></div>
        </div>
        <div class="row" style="display:inline-block;">
            <div class="column" id="month6"></div>
            <div class="column" id="month7"></div>
            <div class="column" id="month8"></div>
        </div>
        <div class="row" style="display:inline-block;">
            <div class="column" id="month9"></div>
            <div class="column" id="month10"></div>
            <div class="column" id="month11"></div>
        </div>
</div>

@section Scripts {
    <script>var monthsList = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        $(document).ready(function () {
            document.getElementById("UsersList").onchange = function () {
                loadPage(); //reset calendar
            }
            loadPage();
            getAllApprovedRequests();
        })

        function loadPage() {
            for (var i = 0; i < 12; i++) {
                var elemStr = "month" + i;
                createCalendar(elemStr, 2023, i+1);
            }
        }
        function createCalendar(elem, year, month) {

            let mon = month - 1; // months in JS are 0..11, not 1..12

            let d = new Date(year, mon);
            console.log("month", mon);
            console.log("year", year);
            console.log(d.getDate());
            console.log(d.getMonth());

            let table = '<h4 class="form-label-style">' + monthsList[mon] + '</h4>'
            table += '<table class="styled-table-calendar"><tr><th style="color:white">Mon</th><th style="color:white">Tue</th><th style="color:white">Wed</th><th style="color:white">Thu</th><th style="color:white">Fri</th><th style="color:white">Sat</th><th style="color:white">Sun</th></tr><tr>';

            // spaces for the first row
            // from Monday till the first day of the month
            // * * * 1  2  3  4
            for (let i = 0; i < getDay(d); i++) {
                table += '<td></td>';
            }

            while (d.getMonth() == mon) {
                var dateString = '';
                var adjustedMonth = d.getMonth() + 1;
                var adjustedMonthStr = '';
                if (adjustedMonth < 10) {
                    adjustedMonthStr = '0' + adjustedMonth;
                }
                else {
                    adjustedMonthStr = adjustedMonth;
                }
                if (d.getDate() < 10) {
                    dateString = '0' + d.getDate() + '/' + adjustedMonthStr + '/' + year;
                }
                else {
                    dateString = d.getDate() + '/' + adjustedMonthStr + '/' + year;
                }
                table += '<td id=' + dateString + '>' + d.getDate() + '</td>'; //this is to add the 0 in front of a single digit date i.e. 09/04/2023

                if (getDay(d) % 7 == 6) { // sunday, last day of week - newline
                    table += '</tr><tr>';
                }

                d.setDate(d.getDate() + 1);
            }

            // add spaces after last days of month for the last row
            // 29 30 31 * * * *
            if (getDay(d) != 0) {
                for (let i = getDay(d); i < 7; i++) {
                    table += '<td></td>';
                }
            }

            // close the table
            table += '</tr></table>';

            document.getElementById(elem).innerHTML = table;
        }

        function getDay(date) { // get day number from 0 (monday) to 6 (sunday)
            let day = date.getDay();
            if (day == 0) day = 7; // make Sunday (0) the last day
            return day - 1;
        }

        function getAllApprovedRequests() {
            var selectedUserId = document.getElementById("UsersList").value;
            $.ajax({
                url: "GetAllApprovedRequests",
                type: "GET",
                data: {
                    userId: selectedUserId
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = "";
                    for (var i = 0; i < result.data.length; i++) {
                        var requestUser = result.data[i].userName;
                        var requestStartDate = result.data[i].startDate;
                        var requestEndDate = result.data[i].endDate;
                        var requestType = result.data[i].requestTypeName;
                        var requestColour = "";

                        //Set the colour of the request here:

                        if (requestType === "Annual") {
                            console.log("true");
                            requestColour = "green";
                        }
                        if (requestType === "Study") {
                            requestColour = "blue";
                        }
                        if (requestType === "WFH") {
                            requestColour = "orange";
                        }

                        var requestStartDateStr = result.data[i].startDateStr;
                        var requestEndDateStr = result.data[i].endDateStr;

                        var differenceInTime = new Date(requestEndDate).getTime() - new Date(requestStartDate).getTime();
                        var differenceInDays = differenceInTime / (1000 * 3600 * 24);

                        for (var j = 0; j < differenceInDays + 1; j++) {

                            document.getElementById(requestStartDateStr).style.backgroundColor = requestColour;

                            var toolTip = "";
                            toolTip += "Name: " + requestUser + '\n';
                            toolTip += "Request Type: " + requestType + '\n';
                            toolTip += "Number of days: ";
                            toolTip += differenceInDays + 1; //add length of request to tooltip

                            document.getElementById(requestStartDateStr).title = toolTip;

                            var [curDay, curMonth, curYear] = requestStartDateStr.split('/');
                            var nextDay = new Date(curYear, curMonth - 1, curDay);
                            nextDay.setDate(nextDay.getDate() + 1);
                            console.log(nextDay);
                            requestStartDateStr = (nextDay).toLocaleDateString('en-GB');
                        }
                    }
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }</script>
}