
<h2 class="appTitle indexHeader">Reset Password</h2>
<br />
<br />

<div style="position: absolute; top:300px; left:500px; outline:solid maroon; outline-offset:85px">
    <label class="form-label appLabel" style="font-size:x-large">New Password</label>
    <br />
    <form method="get">
        <div class="form-outline mb-4">
            <label class="form-label appLabel" for="currentPassword">Current password:</label>
            <input type="password" id="currentPassword" class="form-control form-control-lg" required />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label appLabel" for="newPassword">New Password:</label>
            <input type="password" id="newPassword" class="form-control form-control-lg" required />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label appLabel" for="newPasswordConfirm">Confirm password:</label>
            <input type="password" id="newPasswordConfirm" class="form-control form-control-lg" required />
        </div>
    </form>
    <button type="button" class="btn btn-primary appButton" id="setPasswordButton" onclick="return setUserPassword()">Submit</button>
    <div id="messageBox" style="outline:none"></div>
</div>
</div>


@section Scripts {

    <script>$(document).ready(function () {
        })

        function setUserPassword() {

            var valid = validateDetails();
            if (!valid) {
                return false;
            }
            var newPassword = $("#newPassword").val();

            $.ajax({
                url: "/Home/SetUserPassword",
                type: "POST",
                data: {
                    password: newPassword
                },
                success: function (result) {
                    alert("You have successfully reset your password");
                    window.location.href = "/Home/Index";
                },
                error: function (error) {
                }
            })
        }

        function validateDetails() { //Add more validation here

            var curPassword = $("#currentPassword").val();
            var newPassword = $("#newPassword").val();
            var conPassword = $("#newPasswordConfirm").val();

            console.log(verifyCurrentPassword());
            if (verifyCurrentPassword() == false) {
                alert("Incorrect current password entered");
                return false;
            }

            if (!newPassword === newPassword) {
                newPassword.css("border-color", "red");
                conPassword.css("border-color", "red");
                alert("Passwords don't match");
                return false;
            }
            return true;

        }

        function verifyCurrentPassword() {
            var curPassword = $("#currentPassword").val();

            $.ajax({
                url: "/Access/VerifyPasswordOnReset",
                type: "POST",
                data: {
                    password: curPassword
                },
                success: function (result) {
                    console.log(result)
                    if (result) {
                        return true;
                    }
                    return false;
                },
                error: function (error) {
                }
            })
        }</script>
}


