@{
}
<h2 class="appTitle indexHeader">Manager Requests</h2>
<br />
<br />
<div>
    <div>
        <table class="table table-hover styled-table-calendar">
            <thead>
                <tr style="color:maroon">
                    <th>User</th>
                    <th>Dates</th>
                    <th>Request Type</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
</div>



@section Scripts {

    <script>$(document).ready(function () {
            getAllManagerRequests();
        })

        function getAllManagerRequests() {
            $.ajax({
                url: "GetAllManagerRequests",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = "";
                    for (var i = 0; i < result.data.length; i++) {
                        html += "<tr>";
                        html += "<td><p class='fw-bold mb-1'>" + result.data[i].userName + "</td>";
                        html += "<td>Start: " + result.data[i].startDateStr + "</br>End: " + result.data[i].endDateStr + "</td>";
                        html += "<td>" + result.data[i].requestTypeName + "</td>";
                        html += "<td>" + result.data[i].description + "</td>";
                        html += "<td style='text-align:center'><button class='btn btn-success px-3' onclick='return approveRequest(" + result.data[i].requestId + ")'><i class='fa fa-check'></i></button> <button class='btn btn-danger px-3' onclick='rejectRequest(" + result.data[i].requestId + ")'><i class='fa fa-times'></i></button></td>";
                        html += "<tr>";
                    }
                    $(".tbody").html(html);
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }

        function approveRequest(requestId) {
            $.ajax({
                url: "ApproveRequestMethod",
                type: "POST",
                data: {
                    requestId: requestId
                },
                success: function (result) {
                    getAllManagerRequests();
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }

        function rejectRequest(requestId) {
            $.ajax({
                url: "RejectRequestMethod",
                type: "POST",
                data: {
                    requestId: requestId
                },
                success: function (result) {
                    getAllManagerRequests();
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }</script>
}


