@model WebAppsNoAuth.Models.User;

<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form asp-controller="Access" asp-action="AddCompany" method="get">
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h5>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="name">Name</label>
                                        <input type="text" id="name" class="form-control form-control-lg" asp-for="Name" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email address</label>
                                        <input type="email" id="email" class="form-control form-control-lg" asp-for="Email" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" class="form-control form-control-lg" asp-for="Password" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="institution">Institution</label>
                                        <input type="text" id="institution" class="form-control form-control-lg" asp-for="Institution" />
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit" id="registerButton">Register</button>
                                    </div>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Have an account? <a href="/Access/Login"
                                                            style="color: #393f81;">Login here</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>$(document).ready(function () {
            console.log("ready!");
            // $("#registerButton").on("click", addUser);
        });

        function addUser() {
            console.log(document.getElementById("email").value);
            $.ajax({
                url: "/Home2/AddUser/",
                data: {
                    name: document.getElementById("name").value,
                    email: document.getElementById("email").value,
                    password: document.getElementById("password").value,
                    institution: document.getElementById("institution").value,
                },
                cache: false,
                success: function (result) {
                    console.log(result);
                }
            })
            window.location.href = "/Home/Index";
            return;
        }</script>


}
