<div>
    <h2 class="appTitle indexHeader">Locations</h2>
    <br />
    <div>
        <table class="table table-hover styled-table-calendar">
            <thead>
                <tr>
                    <th><button class="btn btn-primary appButton" data-toggle="modal" data-target="#locationModal" onclick="clearTextBox()"><i class="fa fa-plus"></i> Add new location </button></th>
                    <th></th>
                </tr>
                <tr style="color:maroon">
                    <th>Location</th>
                    <th>Location Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close appCloseButton" data-dismiss="modal" onclick="closeUpdateLocModal()">x</button>
                <h4 class="modal-title appModalFont" id="locationModalLabel">Add Location</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-outline mb-4">
                        <label class="form-label appLabel" for="locationName">Location</label>
                        <select id="locationName"></select>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label appLabel" for="title">Location Title</label>
                        <input type="text" id="title" class="form-control form-control-lg" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary appButton" id="addLocationButton2" onclick="return addNewLocationMethod()">Add</button>
                <button type="button" class="btn btn-primary appButton" id="updateLocationButton2" onclick="updateLocationMethod()">Update</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var updateLocationId = -1;
        $(document).ready(function () {
            getAllLocations();
            populateLocationsDropdown();

        });

        function getAllLocations() {
            $.ajax({
                url: "GetAllLocationsAsJson",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = "";
                    for (var i = 0; i < result.data.length; i++) {
                        html += "<tr>";
                        html += "<td><p class='fw-bold mb-1'>" + result.data[i].locationValue + "</p></td>";
                        html += "<td><p class='fw-normal mb-1'>" + result.data[i].locationTitle + "</p></td>";
                        html += "<td><button class='btn btn-primary px-3' onclick='return getByLocationId(" + result.data[i].locationId + ")'><i class='fa fa-edit'></i></button> <button class='btn btn-danger px-3' onclick='deleteLocation(" + result.data[i].locationId + ")'><i class='fa fa-times'></i></button></td>";
                        html += "<tr>";
                    }
                    $(".tbody").html(html);
                },
                error: function (error) {
                    console.log(error.responseText);
                }
            });
        }

        function getByLocationId(locationId) {
            updateLocationId = locationId;
            $("#locationName").css("border-color", "lightgrey");
            $("#title").css("border-color", "lightgrey");
            $.ajax({
                url: "GetLocationById",
                type: "GET",
                data: { locationId: locationId },
                success: function (result) {
                    console.log(result);
                   // $("#name").val(result.data.locationName);
                    document.getElementById("locationName").value = result.data.locationValue;
                    $("#title").val(result.data.locationTitle);
                    $("#locationModal").modal("show");
                    $("#updateLocationButton2").show();
                    $("#addLocationButton2").hide();
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
            return false; //May change
        }

        function clearTextBox() {
            console.log("called");
            $("#locationModal").modal("show");

            $("#locationName").val("");
            $("#title").val("");

            $("#updateLocationButton2").hide();

            $("#addLocationButton2").show();

            $("#locationName").css("border-color", "lightgrey");
            $("#title").css("border-color", "lightgrey");
        }

        function addNewLocationMethod() {
            var newLocation = document.getElementById("locationName").value;
            console.log(newLocation);
            var newLocationTitle = $("#title").val();
            $.ajax({
                url: "AddNewLocation",
                type: "POST",
                data: {
                    locationValue: newLocation,
                    locationTitle: newLocationTitle
                },
                success: function (result) {
                    getAllLocations();
                    $("#locationModal").modal("hide");
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }
        function populateLocationsDropdown() {
            const locationsDropdown = document.querySelector("#locationName");
            const options = {
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': 'fe231a5846msh9d371c00933a5f2p180cf0jsncb911602be2e',
                    'X-RapidAPI-Host': 'andruxnet-world-cities-v1.p.rapidapi.com'
                }
            };

            fetch('https://andruxnet-world-cities-v1.p.rapidapi.com/?query=United%20Kingdom&searchby=country', options)
                .then
                (res => {
                    return res.json();
                })
                .then
                (data => {
                    let output = "";
                    data.forEach(loc => {
                        output += `<option value='${loc.city}'>${loc.city}</option>`;
                    })
                    locationsDropdown.innerHTML = output;
                }).catch(err => {
                    console.log(err);
                })
            
        }

        function updateLocationMethod() {
            var confirmed = confirm("Would you like to update?");
            if (confirmed) {
                var newLocation = document.getElementById("locationName").value;
                console.log(newLocation);
                var newLocationTitle = $("#title").val();
                console.log(newLocationTitle);
                $.ajax({
                    url: "UpdateLocationMethod",
                    type: "POST",
                    data: {
                        updateLocationId: updateLocationId,
                        locationValue: newLocation,
                        locationTitle: newLocationTitle
                    },
                    success: function (result) {
                        getAllLocations();
                        $("#locationModal").modal("hide");
                        //$("#name").val("");
                        //$("#title").val("");
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                })
            }
            updateLocationId = -1;
            closeModal();
        }

        function deleteLocation(locationId) {
            var confirmed = confirm("Would you like to delete?");
            if (confirmed) {
                $.ajax({
                    url: "DeleteLocation",
                    type: "POST",
                    data: {
                        locationId: locationId
                    },
                    success: function (result) {
                        getAllLocations();
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                })
            }
        }

        function closeUpdateLocModal() {
            $("#locationModal").modal("hide");
        }
    </script>
}